# **MULTIPLE LINEAR REGRESSION**

In [1]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/datascience/Machine Learning/MACHINE LEARNING ALGORITHMS/LINEAR REGRESSION/train-data.csv')
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [2]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [4]:
df.shape

(6019, 14)

In [5]:
df.isna().any()

Unnamed: 0           False
Name                 False
Location             False
Year                 False
Kilometers_Driven    False
Fuel_Type            False
Transmission         False
Owner_Type           False
Mileage               True
Engine                True
Power                 True
Seats                 True
New_Price             True
Price                False
dtype: bool

In [6]:
df['Unnamed: 0'].unique()

array([   0,    1,    2, ..., 6016, 6017, 6018])

In [7]:
df['Name'].unique()

array(['Maruti Wagon R LXI CNG', 'Hyundai Creta 1.6 CRDi SX Option',
       'Honda Jazz V', ..., 'Tata Bolt Revotron XT', 'Honda',
       'Mahindra Xylo D4 BSIV'], dtype=object)

In [8]:
df['Location'].unique()

array(['Mumbai', 'Pune', 'Chennai', 'Coimbatore', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Delhi', 'Bangalore', 'Ahmedabad'],
      dtype=object)

In [9]:
df['Year'].unique()

array([2010, 2015, 2011, 2012, 2013, 2016, 2018, 2014, 2017, 2007, 2009,
       2008, 2019, 2006, 2005, 2004, 2002, 2000, 2003, 1999, 2001, 1998])

In [10]:
df['Kilometers_Driven'].unique()

array([72000, 41000, 46000, ..., 45004, 70602, 27365])

In [11]:
df['Fuel_Type'].unique()

array(['CNG', 'Diesel', 'Petrol', 'LPG', 'Electric'], dtype=object)

In [12]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [13]:
df['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [14]:
df['Mileage'].unique()

array(['26.6 km/kg', '19.67 kmpl', '18.2 kmpl', '20.77 kmpl', '15.2 kmpl',
       '21.1 km/kg', '23.08 kmpl', '11.36 kmpl', '20.54 kmpl',
       '22.3 kmpl', '21.56 kmpl', '16.8 kmpl', '25.2 kmpl', '12.7 kmpl',
       '0.0 kmpl', '13.5 kmpl', '25.8 kmpl', '28.4 kmpl', '20.45 kmpl',
       '14.84 kmpl', '22.69 kmpl', '23.65 kmpl', '13.53 kmpl',
       '18.5 kmpl', '14.4 kmpl', '20.92 kmpl', '17.5 kmpl', '12.8 kmpl',
       '19.01 kmpl', '14.53 kmpl', '11.18 kmpl', '12.4 kmpl',
       '16.09 kmpl', '14.0 kmpl', '24.3 kmpl', '18.15 kmpl', '11.74 kmpl',
       '22.07 kmpl', '19.7 kmpl', '25.4 kmpl', '25.32 kmpl', '14.62 kmpl',
       '14.28 kmpl', '14.9 kmpl', '11.25 kmpl', '24.4 kmpl', '16.55 kmpl',
       '17.11 kmpl', '22.9 kmpl', '17.8 kmpl', '18.9 kmpl', '15.04 kmpl',
       '25.17 kmpl', '20.36 kmpl', '13.29 kmpl', '13.68 kmpl',
       '20.0 kmpl', '15.8 kmpl', '25.0 kmpl', '16.4 kmpl', '24.52 kmpl',
       '22.1 kmpl', '8.5 kmpl', '15.1 kmpl', '16.95 kmpl', '19.64 kmpl',
       '16.5 kmpl', '18.53 kmpl', '17.57 kmpl', '18.0 kmpl', '23.2 kmpl',
       '16.73 kmpl', '17.0 kmpl', '13.0 kmpl', '17.68 kmpl', '22.7 kmpl',
       '16.2 kmpl', '15.26 kmpl', '23.0 kmpl', '19.83 kmpl', '14.94 kmpl',
       '17.71 kmpl', '14.74 kmpl', '16.0 kmpl', '22.32 kmpl',
       '12.99 kmpl', '23.3 kmpl', '19.15 kmpl', '10.8 kmpl', '15.0 kmpl',
       '22.0 kmpl', '21.9 kmpl', '12.05 kmpl', '11.7 kmpl', '21.21 kmpl',
       '20.73 kmpl', '21.1 kmpl', '24.07 kmpl', '19.0 kmpl', '20.58 kmpl',
       '19.27 kmpl', '11.5 kmpl', '18.6 kmpl', '21.14 kmpl', '11.05 kmpl',
       '21.76 kmpl', '7.81 kmpl', '21.66 kmpl', '17.2 kmpl', '20.63 kmpl',
       '19.4 kmpl', '14.8 kmpl', '26.0 kmpl', '20.4 kmpl', '21.5 kmpl',
       '15.3 kmpl', '17.9 kmpl', '16.6 kmpl', '22.54 kmpl', '25.44 kmpl',
       '13.7 kmpl', '22.48 kmpl', '12.9 kmpl', '19.98 kmpl', '21.4 kmpl',
       '19.81 kmpl', '15.4 kmpl', '25.47 kmpl', '19.87 kmpl',
       '17.45 kmpl', '14.7 kmpl', '15.64 kmpl', '15.73 kmpl',
       '23.59 kmpl', '16.1 kmpl', '27.4 kmpl', '20.46 kmpl', '15.29 kmpl',
       '20.51 kmpl', '11.8 kmpl', '14.3 kmpl', '14.67 kmpl', '17.19 kmpl',
       '21.03 kmpl', '22.5 kmpl', '16.82 kmpl', '11.72 kmpl', '17.4 kmpl',
       '17.05 kmpl', '24.0 kmpl', '28.09 kmpl', '20.5 kmpl', '13.1 kmpl',
       '19.91 kmpl', '18.7 kmpl', '16.38 kmpl', '11.57 kmpl', '17.3 kmpl',
       '22.95 kmpl', '18.88 kmpl', '23.4 kmpl', '22.74 kmpl',
       '12.07 kmpl', '17.1 kmpl', '18.48 kmpl', '16.47 kmpl', '23.1 kmpl',
       '14.07 kmpl', '16.02 kmpl', '19.3 kmpl', '17.7 kmpl', '9.52 kmpl',
       '14.75 kmpl', '26.3 km/kg', '11.3 kmpl', '21.12 kmpl',
       '21.02 kmpl', '14.45 kmpl', '19.33 kmpl', '13.8 kmpl', '24.7 kmpl',
       '11.0 kmpl', '11.07 kmpl', '21.43 kmpl', '14.21 kmpl',
       '18.86 kmpl', '16.07 kmpl', '13.49 kmpl', '20.38 kmpl',
       '12.0 kmpl', '17.01 kmpl', '13.2 kmpl', '20.37 kmpl', '15.1 km/kg',
       '15.96 kmpl', '14.16 kmpl', '13.17 kmpl', '27.62 kmpl',
       '25.1 kmpl', '15.17 kmpl', '11.33 kmpl', '17.92 kmpl',
       '12.55 kmpl', '12.6 kmpl', '17.72 kmpl', '18.16 kmpl',
       '15.68 kmpl', '15.5 kmpl', '12.1 kmpl', '14.83 kmpl', '17.6 kmpl',
       '14.6 kmpl', '14.66 kmpl', '10.93 kmpl', '20.68 kmpl', '9.9 kmpl',
       '21.13 kmpl', '20.14 kmpl', '19.2 kmpl', '27.3 kmpl', '16.36 kmpl',
       '26.59 kmpl', '12.5 kmpl', '13.6 kmpl', '15.06 kmpl', '10.13 kmpl',
       '17.21 kmpl', '15.97 kmpl', '10.5 kmpl', '14.69 kmpl', '23.9 kmpl',
       '19.1 kmpl', '21.27 kmpl', '15.9 kmpl', '20.7 kmpl', '14.1 kmpl',
       '20.89 kmpl', '18.12 kmpl', '12.3 kmpl', '19.71 kmpl', '9.43 kmpl',
       '13.4 kmpl', '13.14 kmpl', '18.1 kmpl', '22.77 kmpl', '14.49 kmpl',
       '12.39 kmpl', '10.91 kmpl', '20.85 kmpl', '15.63 kmpl',
       '27.39 kmpl', '18.3 kmpl', '16.78 kmpl', '25.5 kmpl', '10.0 kmpl',
       '13.73 kmpl', '24.2 kmpl', '14.02 kmpl', '26.83 km/kg',
       '16.77 kmpl', '24.5 kmpl', '20.34 kmpl', '21.7 kmpl', '9.7 kmpl',
       '14.33 kmpl', '21.64 kmpl', '13.2 km/kg', '19.16 kmpl',
       '16.93 kmpl', '9.0 kmpl', '26.2 km/kg', '16.3 kmpl', '12.62 kmpl',
       '17.3 km/kg', '20.64 kmpl', '14.24 kmpl', '18.06 kmpl',
       '10.2 kmpl', '10.1 kmpl', '18.25 kmpl', '13.93 kmpl', '25.83 kmpl',
       '8.6 kmpl', '13.24 kmpl', '17.09 kmpl', '23.84 kmpl', '8.45 kmpl',
       '19.6 kmpl', '19.5 kmpl', '20.3 kmpl', '16.05 kmpl', '11.2 kmpl',
       '27.03 kmpl', '18.78 kmpl', '12.35 kmpl', '14.59 kmpl',
       '17.32 kmpl', '14.95 kmpl', '13.22 kmpl', '23.03 kmpl',
       '33.44 km/kg', '15.6 kmpl', '19.12 kmpl', '10.98 kmpl',
       '33.54 km/kg', '16.46 kmpl', '18.4 kmpl', '11.1 kmpl',
       '13.01 kmpl', '18.8 kmpl', '16.52 kmpl', '18.44 kmpl',
       '19.49 kmpl', '23.5 kmpl', '23.8 kmpl', '12.65 kmpl', '20.65 kmpl',
       '21.72 kmpl', '12.19 kmpl', '26.1 kmpl', '18.33 kmpl',
       '12.81 kmpl', '17.5 km/kg', '17.06 kmpl', '17.67 kmpl',
       '19.34 kmpl', '8.3 kmpl', '16.96 kmpl', '11.79 kmpl', '20.86 kmpl',
       '16.98 kmpl', '11.68 kmpl', '15.74 kmpl', '15.7 kmpl',
       '18.49 kmpl', '10.9 kmpl', '19.59 kmpl', '11.4 kmpl', '13.06 kmpl',
       '21.0 kmpl', '15.15 kmpl', '16.9 kmpl', '18.23 kmpl', '25.0 km/kg',
       '17.16 kmpl', '17.43 kmpl', '19.08 kmpl', '18.56 kmpl',
       '11.9 kmpl', '24.6 km/kg', '21.79 kmpl', '12.95 kmpl', '25.6 kmpl',
       '13.45 km/kg', '26.21 kmpl', '13.58 kmpl', '16.25 kmpl',
       '10.4 kmpl', '17.44 kmpl', '19.2 km/kg', '22.71 kmpl',
       '17.54 kmpl', '22.1 km/kg', '17.0 km/kg', '15.87 kmpl', '9.5 kmpl',
       '11.56 kmpl', '14.39 kmpl', '19.09 kmpl', '17.85 kmpl',
       '31.79 km/kg', '18.18 kmpl', '21.19 kmpl', '21.8 kmpl',
       '15.42 kmpl', '14.47 kmpl', '19.69 kmpl', '12.83 kmpl', '8.0 kmpl',
       '22.8 km/kg', '12.63 kmpl', '14.57 kmpl', '27.28 kmpl',
       '15.41 kmpl', '32.26 km/kg', '18.19 kmpl', '13.33 kmpl',
       '16.7 kmpl', '17.84 kmpl', '20.0 km/kg', '23.19 kmpl',
       '11.49 kmpl', '18.51 kmpl', '13.44 kmpl', '8.7 kmpl', '8.77 kmpl',
       '17.97 kmpl', '23.57 kmpl', '12.37 kmpl', '9.1 kmpl', '12.51 kmpl',
       '19.44 kmpl', '21.38 kmpl', '16.51 kmpl', '24.8 kmpl',
       '14.42 kmpl', '14.53 km/kg', '26.8 kmpl', '24.04 kmpl', '9.8 kmpl',
       '19.68 kmpl', '21.4 km/kg', '21.2 kmpl', '19.72 kmpl', '14.2 kmpl',
       '12.98 kmpl', '23.01 kmpl', '16.12 kmpl', '9.3 kmpl', '15.85 kmpl',
       nan, '17.88 kmpl', '10.6 kmpl', '11.78 kmpl', '7.94 kmpl',
       '25.01 kmpl', '8.1 kmpl', '13.9 kmpl', '11.62 kmpl', '20.62 kmpl',
       '15.11 kmpl', '10.37 kmpl', '18.59 kmpl', '9.74 kmpl',
       '14.81 kmpl', '8.2 kmpl', '12.97 kmpl', '7.5 kmpl', '30.46 km/kg',
       '6.4 kmpl', '12.85 kmpl', '18.69 kmpl', '17.24 kmpl'], dtype=object)

In [15]:
df['Engine'].unique()

array(['998 CC', '1582 CC', '1199 CC', '1248 CC', '1968 CC', '814 CC',
       '1461 CC', '2755 CC', '1598 CC', '1462 CC', '1497 CC', '2179 CC',
       '2477 CC', '1498 CC', '2143 CC', '1995 CC', '1984 CC', '1197 CC',
       '2494 CC', '1798 CC', '2696 CC', '2698 CC', '1061 CC', '1198 CC',
       '2987 CC', '796 CC', '624 CC', '1999 CC', '1991 CC', '2694 CC',
       '1120 CC', '2498 CC', '799 CC', '2393 CC', '1399 CC', '1796 CC',
       '2148 CC', '1396 CC', '1950 CC', '4806 CC', '1998 CC', '1086 CC',
       '1193 CC', '2982 CC', '1493 CC', '2967 CC', '2993 CC', '1196 CC',
       '1799 CC', '2497 CC', '2354 CC', '1373 CC', '2996 CC', '1591 CC',
       '2894 CC', '5461 CC', '1595 CC', '936 CC', '1997 CC', nan,
       '1896 CC', '1390 CC', '1364 CC', '2199 CC', '993 CC', '999 CC',
       '1405 CC', '2956 CC', '1794 CC', '995 CC', '2496 CC', '1599 CC',
       '2400 CC', '1495 CC', '2523 CC', '793 CC', '4134 CC', '1596 CC',
       '1395 CC', '2953 CC', '1586 CC', '2362 CC', '1496 CC', '1368 CC',
       '1298 CC', '1956 CC', '1299 CC', '3498 CC', '2835 CC', '1150 CC',
       '3198 CC', '1343 CC', '1499 CC', '1186 CC', '1590 CC', '2609 CC',
       '2499 CC', '2446 CC', '1978 CC', '2360 CC', '3436 CC', '2198 CC',
       '4367 CC', '2706 CC', '1422 CC', '2979 CC', '1969 CC', '1489 CC',
       '2489 CC', '1242 CC', '1388 CC', '1172 CC', '2495 CC', '1194 CC',
       '3200 CC', '1781 CC', '1341 CC', '2773 CC', '3597 CC', '1985 CC',
       '2147 CC', '1047 CC', '2999 CC', '2995 CC', '2997 CC', '1948 CC',
       '2359 CC', '4395 CC', '2349 CC', '2720 CC', '1468 CC', '3197 CC',
       '2487 CC', '1597 CC', '2771 CC', '72 CC', '4951 CC', '970 CC',
       '2925 CC', '2200 CC', '5000 CC', '2149 CC', '5998 CC', '2092 CC',
       '5204 CC', '2112 CC', '1797 CC'], dtype=object)

In [16]:
df['Power'].unique()

array(['58.16 bhp', '126.2 bhp', '88.7 bhp', '88.76 bhp', '140.8 bhp',
       '55.2 bhp', '63.1 bhp', '171.5 bhp', '103.6 bhp', '74 bhp',
       '103.25 bhp', '116.3 bhp', '187.7 bhp', '115 bhp', '175.56 bhp',
       '98.6 bhp', '83.8 bhp', '167.62 bhp', '190 bhp', '88.5 bhp',
       '177.01 bhp', '80 bhp', '67.1 bhp', '102 bhp', '108.45 bhp',
       '138.1 bhp', '184 bhp', '179.5 bhp', '103.5 bhp', '64 bhp',
       '82 bhp', '254.8 bhp', '73.9 bhp', '46.3 bhp', '37.5 bhp',
       '77 bhp', '82.9 bhp', '149.92 bhp', '138.03 bhp', '112.2 bhp',
       '163.7 bhp', '71 bhp', '105 bhp', '174.33 bhp', '75 bhp',
       '103.2 bhp', '53.3 bhp', '78.9 bhp', '147.6 bhp', '147.8 bhp',
       '68 bhp', '186 bhp', '170 bhp', '69 bhp', '140 bhp', '78 bhp',
       '194 bhp', '500 bhp', '108.5 bhp', '86.8 bhp', '187.74 bhp',
       'null bhp', '132 bhp', '86.7 bhp', '73.94 bhp', '117.3 bhp',
       '218 bhp', '168.5 bhp', '89.84 bhp', '110 bhp', '90 bhp',
       '82.85 bhp', '67 bhp', '241.4 bhp', '35 bhp', '270.9 bhp',
       '126.32 bhp', '73 bhp', '130 bhp', '100.6 bhp', '150 bhp',
       '75.94 bhp', '215 bhp', '107.3 bhp', '37.48 bhp', '120 bhp',
       '178 bhp', '152 bhp', '91.1 bhp', '85.80 bhp', '362.07 bhp',
       '121.3 bhp', '143 bhp', '81.80 bhp', '171 bhp', '76.8 bhp',
       '103.52 bhp', '444 bhp', '362.9 bhp', '67.06 bhp', '120.7 bhp',
       '258 bhp', '81.86 bhp', '112 bhp', '88.73 bhp', '57.6 bhp',
       '157.75 bhp', '102.5 bhp', '201.1 bhp', '83.1 bhp', '68.05 bhp',
       '88.50 bhp', nan, '106 bhp', '100 bhp', '81.83 bhp', '85 bhp',
       '64.1 bhp', '177.5 bhp', '246.7 bhp', '177.46 bhp', '65 bhp',
       '67.04 bhp', '189.08 bhp', '99 bhp', '53.5 bhp', '194.3 bhp',
       '70 bhp', '183 bhp', '254.79 bhp', '66.1 bhp', '76 bhp', '60 bhp',
       '123.24 bhp', '47.3 bhp', '118 bhp', '88.8 bhp', '177 bhp',
       '136 bhp', '201.15 bhp', '93.7 bhp', '177.6 bhp', '313 bhp',
       '245 bhp', '125 bhp', '141 bhp', '227 bhp', '62 bhp', '141.1 bhp',
       '83.14 bhp', '192 bhp', '67.05 bhp', '47 bhp', '235 bhp', '37 bhp',
       '87.2 bhp', '203 bhp', '204 bhp', '246.74 bhp', '122 bhp',
       '282 bhp', '181 bhp', '224 bhp', '94 bhp', '367 bhp', '98.79 bhp',
       '62.1 bhp', '174.3 bhp', '114 bhp', '335.2 bhp', '169 bhp',
       '191.34 bhp', '108.49 bhp', '138.02 bhp', '156 bhp', '187.4 bhp',
       '66 bhp', '103.3 bhp', '164.7 bhp', '79.4 bhp', '198.5 bhp',
       '154 bhp', '73.8 bhp', '181.43 bhp', '85.8 bhp', '207.8 bhp',
       '108.4 bhp', '88 bhp', '63 bhp', '82.5 bhp', '364.9 bhp',
       '107.2 bhp', '113.98 bhp', '126.3 bhp', '185 bhp', '237.4 bhp',
       '99.6 bhp', '66.7 bhp', '160 bhp', '306 bhp', '98.59 bhp',
       '92.7 bhp', '147.51 bhp', '197.2 bhp', '167.6 bhp', '165 bhp',
       '110.4 bhp', '73.97 bhp', '147.9 bhp', '116.6 bhp', '148 bhp',
       '34.2 bhp', '155 bhp', '197 bhp', '108.62 bhp', '118.3 bhp',
       '38.4 bhp', '241.38 bhp', '153.86 bhp', '163.5 bhp', '226.6 bhp',
       '84.8 bhp', '53.64 bhp', '158.2 bhp', '69.01 bhp', '181.03 bhp',
       '58.2 bhp', '104.68 bhp', '126.24 bhp', '73.75 bhp', '158 bhp',
       '130.2 bhp', '57.5 bhp', '97.7 bhp', '121.4 bhp', '98.96 bhp',
       '174.5 bhp', '308 bhp', '121.36 bhp', '138 bhp', '265 bhp',
       '84 bhp', '321 bhp', '91.72 bhp', '65.3 bhp', '88.2 bhp', '93 bhp',
       '35.5 bhp', '86.79 bhp', '157.7 bhp', '40.3 bhp', '91.7 bhp',
       '180 bhp', '114.4 bhp', '158.8 bhp', '157.8 bhp', '123.7 bhp',
       '56.3 bhp', '189 bhp', '104 bhp', '210 bhp', '270.88 bhp',
       '142 bhp', '255 bhp', '236 bhp', '167.7 bhp', '148.31 bhp',
       '80.46 bhp', '138.08 bhp', '250 bhp', '74.9 bhp', '91.2 bhp',
       '102.57 bhp', '97.6 bhp', '102.53 bhp', '240 bhp', '254 bhp',
       '112.4 bhp', '73.74 bhp', '108.495 bhp', '116.9 bhp', '101 bhp',
       '320 bhp', '70.02 bhp', '261.49 bhp', '105.5 bhp', '550 bhp',
       '168.7 bhp', '55.23 bhp', '94.68 bhp', '152.88 bhp', '163.2 bhp',
       '203.2 bhp', '241 bhp', '95 bhp', '200 bhp', '271.23 bhp',
       '63.12 bhp', '85.7 bhp', '308.43 bhp', '118.6 bhp', '199.3 bhp',
       '83.83 bhp', '55 bhp', '83 bhp', '300 bhp', '201 bhp', '262.6 bhp',
       '163 bhp', '58.33 bhp', '86.76 bhp', '76.9 bhp', '174.57 bhp',
       '301.73 bhp', '68.1 bhp', '162 bhp', '394.3 bhp', '80.9 bhp',
       '147.5 bhp', '272 bhp', '340 bhp', '120.33 bhp', '82.4 bhp',
       '231.1 bhp', '335.3 bhp', '333 bhp', '198.25 bhp', '224.34 bhp',
       '402 bhp', '261 bhp', '61 bhp', '144 bhp', '71.01 bhp',
       '271.72 bhp', '134 bhp', '135.1 bhp', '92 bhp', '64.08 bhp',
       '261.5 bhp', '123.37 bhp', '175.67 bhp', '53 bhp', '110.5 bhp',
       '178.4 bhp', '193.1 bhp', '41 bhp', '395 bhp', '48.21 bhp',
       '450 bhp', '421 bhp', '89.75 bhp', '387.3 bhp', '130.3 bhp',
       '281.61 bhp', '52.8 bhp', '139.01 bhp', '208 bhp', '503 bhp',
       '168 bhp', '98.82 bhp', '139.07 bhp', '83.11 bhp', '74.93 bhp',
       '382 bhp', '74.96 bhp', '552 bhp', '127 bhp', '560 bhp',
       '116.4 bhp', '161.6 bhp', '488.1 bhp', '103 bhp', '181.04 bhp'],
      dtype=object)

In [17]:
df['Seats'].unique()

array([ 5.,  7.,  8.,  4.,  6.,  2., nan, 10.,  9.,  0.])

In [18]:
df['New_Price'].unique()

array([nan, '8.61 Lakh', '21 Lakh', '10.65 Lakh', '32.01 Lakh',
       '47.87 Lakh', '10.57 Lakh', '12.33 Lakh', '11.12 Lakh',
       '23.64 Lakh', '18.64 Lakh', '19.34 Lakh', '49.14 Lakh',
       '11.81 Lakh', '16.65 Lakh', '6.67 Lakh', '6.45 Lakh', '6.41 Lakh',
       '27 Lakh', '5.13 Lakh', '54.43 Lakh', '9.51 Lakh', '9.96 Lakh',
       '14.44 Lakh', '4.53 Lakh', '95.04 Lakh', '13.49 Lakh', '1.28 Cr',
       '60.88 Lakh', '7.39 Lakh', '69.47 Lakh', '8.78 Lakh', '12.74 Lakh',
       '10.52 Lakh', '11.98 Lakh', '8.54 Lakh', '33.58 Lakh', '9.12 Lakh',
       '5.29 Lakh', '44.28 Lakh', '20.74 Lakh', '11.74 Lakh',
       '25.52 Lakh', '14.07 Lakh', '95.13 Lakh', '8.34 Lakh', '8.85 Lakh',
       '25.4 Lakh', '16.67 Lakh', '79.43 Lakh', '6.62 Lakh', '1.04 Cr',
       '58.67 Lakh', '28.37 Lakh', '4.48 Lakh', '72.64 Lakh',
       '36.15 Lakh', '44.59 Lakh', '12 Lakh', '14.65 Lakh', '53.72 Lakh',
       '33.91 Lakh', '12.51 Lakh', '9.74 Lakh', '95.38 Lakh',
       '60.59 Lakh', '11.28 Lakh', '11.48 Lakh', '11.26 Lakh',
       '43.65 Lakh', '62.07 Lakh', '86.97 Lakh', '1 Cr', '4.74 Lakh',
       '14.84 Lakh', '49.49 Lakh', '48.18 Lakh', '12.34 Lakh',
       '15.38 Lakh', '19.21 Lakh', '22.95 Lakh', '11.15 Lakh',
       '10.32 Lakh', '28.05 Lakh', '59.77 Lakh', '15.86 Lakh',
       '19.43 Lakh', '42.12 Lakh', '16.95 Lakh', '15.45 Lakh',
       '7.87 Lakh', '4.7 Lakh', '15.02 Lakh', '12.56 Lakh', '11.33 Lakh',
       '26.45 Lakh', '10.34 Lakh', '7.46 Lakh', '11.85 Lakh',
       '10.41 Lakh', '5.57 Lakh', '42.48 Lakh', '16.04 Lakh', '9.1 Lakh',
       '7.65 Lakh', '13.74 Lakh', '5.72 Lakh', '21.33 Lakh', '78.76 Lakh',
       '4.29 Lakh', '10.04 Lakh', '11.67 Lakh', '8.56 Lakh', '4.78 Lakh',
       '6.14 Lakh', '7.3 Lakh', '4.37 Lakh', '4.98 Lakh', '15.29 Lakh',
       '24.26 Lakh', '75.12 Lakh', '9.53 Lakh', '34.6 Lakh', '52.26 Lakh',
       '70.43 Lakh', '4.8 Lakh', '12.12 Lakh', '19.37 Lakh', '12.14 Lakh',
       '36.69 Lakh', '23.68 Lakh', '55.61 Lakh', '14.1 Lakh',
       '13.26 Lakh', '11.27 Lakh', '11.2 Lakh', '9.46 Lakh', '12.79 Lakh',
       '15.57 Lakh', '19.86 Lakh', '6.59 Lakh', '6.54 Lakh', '26.56 Lakh',
       '15.05 Lakh', '11.01 Lakh', '11 Lakh', '7.55 Lakh', '7.82 Lakh',
       '6.32 Lakh', '15.14 Lakh', '15.72 Lakh', '45.67 Lakh', '54.7 Lakh',
       '22.87 Lakh', '6.74 Lakh', '33.09 Lakh', '23.25 Lakh',
       '19.27 Lakh', '52.77 Lakh', '7.92 Lakh', '7.85 Lakh', '15.55 Lakh',
       '32.45 Lakh', '4.83 Lakh', '7.13 Lakh', '71.82 Lakh', '50.97 Lakh',
       '10.73 Lakh', '9.5 Lakh', '52.46 Lakh', '6.07 Lakh', '5.54 Lakh',
       '4.33 Lakh', '8.63 Lakh', '6.68 Lakh', '7.98 Lakh', '24.82 Lakh',
       '7.63 Lakh', '22.86 Lakh', '11.06 Lakh', '19.39 Lakh',
       '21.77 Lakh', '18.35 Lakh', '9.19 Lakh', '8.09 Lakh', '1.39 Cr',
       '11.52 Lakh', '13.23 Lakh', '10.06 Lakh', '15.34 Lakh',
       '24.01 Lakh', '11.39 Lakh', '9.79 Lakh', '35 Lakh', '9.26 Lakh',
       '8.68 Lakh', '66.39 Lakh', '36.45 Lakh', '91.38 Lakh',
       '53.41 Lakh', '4.59 Lakh', '67.87 Lakh', '9.44 Lakh', '48.64 Lakh',
       '11.69 Lakh', '11.11 Lakh', '6.33 Lakh', '8.1 Lakh', '6.4 Lakh',
       '7.59 Lakh', '7 Lakh', '7.43 Lakh', '22.43 Lakh', '24.02 Lakh',
       '21.69 Lakh', '34.63 Lakh', '43.31 Lakh', '4.71 Lakh', '1.02 Cr',
       '6.71 Lakh', '34.45 Lakh', '8.58 Lakh', '12.67 Lakh', '11.89 Lakh',
       '10.48 Lakh', '13.59 Lakh', '11.02 Lakh', '41.94 Lakh',
       '8.94 Lakh', '21.38 Lakh', '12.88 Lakh', '8.27 Lakh', '7.37 Lakh',
       '7.33 Lakh', '23.06 Lakh', '1.4 Cr', '5.58 Lakh', '22.46 Lakh',
       '7.69 Lakh', '9.4 Lakh', '6.08 Lakh', '8.36 Lakh', '1.06 Cr',
       '71.15 Lakh', '6.82 Lakh', '8.12 Lakh', '9.78 Lakh', '7.36 Lakh',
       '38.11 Lakh', '11.75 Lakh', '8.44 Lakh', '16.06 Lakh', '6.63 Lakh',
       '1.27 Cr', '39.6 Lakh', '10.91 Lakh', '25.75 Lakh', '5.61 Lakh',
       '8.05 Lakh', '8.82 Lakh', '17.38 Lakh', '5.69 Lakh', '37.51 Lakh',
       '5.88 Lakh', '63.71 Lakh', '11.47 Lakh', '37.46 Lakh', '7.88 Lakh',
       '11.37 Lakh', '11.3 Lakh', '92.5 Lakh', '15.06 Lakh', '39.57 Lakh',
       '13.7 Lakh', '11.16 Lakh', '9.47 Lakh', '10.17 Lakh', '8.17 Lakh',
       '9.58 Lakh', '9.14 Lakh', '64.14 Lakh', '16.36 Lakh', '37.38 Lakh',
       '22.74 Lakh', '33.36 Lakh', '70.55 Lakh', '1.13 Cr', '45.36 Lakh',
       '10.13 Lakh', '14.22 Lakh', '11.77 Lakh', '4.05 Lakh',
       '26.95 Lakh', '4.82 Lakh', '7.17 Lakh', '13.58 Lakh', '9.09 Lakh',
       '4.09 Lakh', '6.83 Lakh', '5.04 Lakh', '43.81 Lakh', '5.12 Lakh',
       '5.71 Lakh', '5.87 Lakh', '8.16 Lakh', '9.72 Lakh', '10.3 Lakh',
       '4.69 Lakh', '5.42 Lakh', '91.23 Lakh', '7.14 Lakh', '69.59 Lakh',
       '4.61 Lakh', '5.3 Lakh', '7.97 Lakh', '59.38 Lakh', '67.1 Lakh',
       '12.22 Lakh', '33.68 Lakh', '6.96 Lakh', '7.96 Lakh', '20.8 Lakh',
       '6.78 Lakh', '19.91 Lakh', '8.93 Lakh', '11.66 Lakh', '7.35 Lakh',
       '6.99 Lakh', '23.89 Lakh', '7.27 Lakh', '8.84 Lakh', '22.37 Lakh',
       '12.02 Lakh', '3.95 Lakh', '48.79 Lakh', '4.66 Lakh', '11.29 Lakh',
       '5.35 Lakh', '1.36 Cr', '6.23 Lakh', '47.16 Lakh', '41.98 Lakh',
       '35.29 Lakh', '7.91 Lakh', '5.36 Lakh', '5.51 Lakh', '20.97 Lakh',
       '34.89 Lakh', '16.4 Lakh', '1.66 Cr', '14.67 Lakh', '12.57 Lakh',
       '9.48 Lakh', '8.95 Lakh', '23.19 Lakh', '8.24 Lakh', '8.71 Lakh',
       '44.75 Lakh', '87.57 Lakh', '8.57 Lakh', '7.56 Lakh', '43.07 Lakh',
       '7.83 Lakh', '6 Lakh', '13.76 Lakh', '14.11 Lakh', '12.47 Lakh',
       '6.51 Lakh', '7.52 Lakh', '15.68 Lakh', '7.45 Lakh', '20.48 Lakh',
       '15.17 Lakh', '8.13 Lakh', '8.79 Lakh', '14.72 Lakh', '25.54 Lakh',
       '16.84 Lakh', '8.28 Lakh', '23.94 Lakh', '69.37 Lakh', '9.04 Lakh',
       '55.07 Lakh', '10.97 Lakh', '21.72 Lakh', '4.9 Lakh', '10.1 Lakh',
       '12.53 Lakh', '20.87 Lakh', '5.9 Lakh', '64.57 Lakh', '17.21 Lakh',
       '6.56 Lakh', '47.2 Lakh', '10.14 Lakh', '1.6 Cr', '5.44 Lakh',
       '26.55 Lakh', '8.26 Lakh', '4.5 Lakh', '56.97 Lakh', '11.19 Lakh',
       '13.33 Lakh', '8.75 Lakh', '21.1 Lakh', '10.28 Lakh', '11.56 Lakh',
       '27.07 Lakh', '4.36 Lakh', '10.81 Lakh', '8.55 Lakh', '22.66 Lakh',
       '4.24 Lakh', '41.02 Lakh', '17 Lakh', '2.3 Cr', '10.89 Lakh',
       '40.62 Lakh', '7.54 Lakh', '30.19 Lakh', '5.56 Lakh', '4.43 Lakh',
       '37.17 Lakh', '12.9 Lakh', '19.18 Lakh', '10.99 Lakh',
       '12.23 Lakh', '11.63 Lakh', '12.27 Lakh', '3.91 Lakh', '44.8 Lakh',
       '50.4 Lakh', '4.04 Lakh', '11.96 Lakh', '11.44 Lakh', '24.63 Lakh',
       '50.26 Lakh', '13.72 Lakh', '23.14 Lakh', '6.29 Lakh', '8.18 Lakh',
       '7.48 Lakh', '83.92 Lakh', '36.94 Lakh', '13.6 Lakh', '10.7 Lakh',
       '4.87 Lakh', '92.79 Lakh', '5.8 Lakh', '62.11 Lakh', '10.83 Lakh',
       '11.05 Lakh', '9.99 Lakh', '14.32 Lakh', '6.21 Lakh', '74.49 Lakh',
       '8.03 Lakh', '1.71 Cr', '37.9 Lakh', '32.54 Lakh', '11.71 Lakh',
       '3.98 Lakh', '4.55 Lakh', '8.8 Lakh', '11.13 Lakh', '11.58 Lakh',
       '10.63 Lakh', '12.68 Lakh', '17.7 Lakh', '14.23 Lakh', '9.62 Lakh',
       '53.14 Lakh', '8.91 Lakh', '10.26 Lakh', '6.94 Lakh', '15.59 Lakh',
       '78.31 Lakh', '42.89 Lakh', '9.56 Lakh', '64.76 Lakh',
       '99.92 Lakh', '69.22 Lakh', '18.45 Lakh', '9.89 Lakh', '7.94 Lakh',
       '8.73 Lakh', '8.69 Lakh', '42.4 Lakh', '23.37 Lakh', '79.78 Lakh',
       '16.6 Lakh', '4.93 Lakh', '14.2 Lakh', '10.42 Lakh', '9.55 Lakh',
       '5.45 Lakh', '8.38 Lakh', '5.95 Lakh', '15.36 Lakh', '10.94 Lakh',
       '10.15 Lakh', '9.83 Lakh', '7.67 Lakh', '9.97 Lakh', '67.67 Lakh',
       '53.68 Lakh', '6.05 Lakh', '10.25 Lakh', '8.23 Lakh', '7.01 Lakh',
       '6.8 Lakh', '25.27 Lakh', '57.3 Lakh', '5.68 Lakh', '9.36 Lakh',
       '38.72 Lakh', '7.7 Lakh', '6.43 Lakh', '5.67 Lakh', '3.96 Lakh',
       '39.27 Lakh', '33.51 Lakh', '15.94 Lakh', '7.15 Lakh', '13.4 Lakh',
       '11.88 Lakh', '21.36 Lakh', '5.92 Lakh', '6.42 Lakh', '8.99 Lakh',
       '12.44 Lakh', '5.77 Lakh', '15.01 Lakh', '40.73 Lakh',
       '33.21 Lakh', '4.45 Lakh', '20.46 Lakh', '39.22 Lakh', '7.77 Lakh',
       '11.91 Lakh', '9.93 Lakh'], dtype=object)

In [19]:
df['Price'].unique()

array([ 1.75, 12.5 ,  4.5 , ...,  2.27, 17.56,  7.43])

In [20]:
df['Unnamed: 0'].value_counts()

Unnamed: 0
0       1
4009    1
4018    1
4017    1
4016    1
       ..
2004    1
2003    1
2002    1
2001    1
6018    1
Name: count, Length: 6019, dtype: int64

In [21]:
df['Name'].value_counts()

Name
Mahindra XUV500 W8 2WD           49
Maruti Swift VDI                 45
Honda City 1.5 S MT              34
Maruti Swift Dzire VDI           34
Maruti Swift VDI BSIV            31
                                 ..
Ford Fiesta Titanium 1.5 TDCi     1
Mahindra Scorpio S10 AT 4WD       1
Hyundai i20 1.2 Era               1
Toyota Camry W4 (AT)              1
Mahindra Xylo D4 BSIV             1
Name: count, Length: 1878, dtype: int64

In [22]:
df['Location'].value_counts()

Location
Mumbai        790
Hyderabad     742
Kochi         651
Coimbatore    636
Pune          622
Delhi         554
Kolkata       535
Chennai       494
Jaipur        413
Bangalore     358
Ahmedabad     224
Name: count, dtype: int64

In [23]:
df['Year'].value_counts()

Year
2014    797
2015    744
2016    741
2013    649
2017    587
2012    580
2011    466
2010    342
2018    298
2009    198
2008    174
2007    125
2019    102
2006     78
2005     57
2004     31
2003     17
2002     15
2001      8
2000      4
1998      4
1999      2
Name: count, dtype: int64

In [24]:
df['Kilometers_Driven'].value_counts()

Kilometers_Driven
60000    82
45000    70
65000    68
50000    61
55000    60
         ..
28937     1
82085     1
68465     1
63854     1
27365     1
Name: count, Length: 3093, dtype: int64

In [25]:
df['Fuel_Type'].value_counts()

Fuel_Type
Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: count, dtype: int64

In [26]:
df['Transmission'].value_counts()

Transmission
Manual       4299
Automatic    1720
Name: count, dtype: int64

In [27]:
df['Owner_Type'].value_counts()

Owner_Type
First             4929
Second             968
Third              113
Fourth & Above       9
Name: count, dtype: int64

In [28]:
df['Mileage'].value_counts()

Mileage
18.9 kmpl     172
17.0 kmpl     172
18.6 kmpl     119
20.36 kmpl     88
21.1 kmpl      86
             ...
27.28 kmpl      1
14.57 kmpl      1
22.8 km/kg      1
8.0 kmpl        1
17.24 kmpl      1
Name: count, Length: 442, dtype: int64

In [29]:
df['Engine'].value_counts()

Engine
1197 CC    606
1248 CC    512
1498 CC    304
998 CC     259
2179 CC    240
          ...
2999 CC      1
2147 CC      1
2495 CC      1
3200 CC      1
1797 CC      1
Name: count, Length: 146, dtype: int64

In [30]:
df['Power'].value_counts()

Power
74 bhp        235
98.6 bhp      131
73.9 bhp      125
140 bhp       123
78.9 bhp      111
             ...
76.9 bhp        1
201 bhp         1
199.3 bhp       1
95 bhp          1
181.04 bhp      1
Name: count, Length: 372, dtype: int64

In [31]:
df['Seats'].value_counts()

Seats
5.0     5014
7.0      674
8.0      134
4.0       99
6.0       31
2.0       16
10.0       5
9.0        3
0.0        1
Name: count, dtype: int64

In [32]:
df['New_Price'].value_counts()

New_Price
95.13 Lakh    6
4.78 Lakh     6
63.71 Lakh    6
11.26 Lakh    5
44.28 Lakh    5
             ..
1.27 Cr       1
38.11 Lakh    1
8.12 Lakh     1
71.15 Lakh    1
9.93 Lakh     1
Name: count, Length: 540, dtype: int64

In [33]:
df['Price'].value_counts()

Price
4.50     88
5.50     84
3.50     82
4.25     73
3.25     71
         ..
11.62     1
43.60     1
19.05     1
3.94      1
7.43      1
Name: count, Length: 1373, dtype: int64

In [34]:
df.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   3009.000000  2013.358199       5.873838e+04     5.278735     9.479468
std    1737.679967     3.269742       9.126884e+04     0.808840    11.187917
min       0.000000  1998.000000       1.710000e+02     0.000000     0.440000
25%    1504.500000  2011.000000       3.400000e+04     5.000000     3.500000
50%    3009.000000  2014.000000       5.300000e+04     5.000000     5.640000
75%    4513.500000  2016.000000       7.300000e+04     5.000000     9.950000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [35]:
df.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [36]:
df.isnull().sum()*100/len(df)

Unnamed: 0            0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.033228
Engine                0.598106
Power                 0.598106
Seats                 0.697790
New_Price            86.310018
Price                 0.000000
dtype: float64

In [37]:
df = df.drop(['New_Price'],axis = 1)

In [38]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

# **DUMMY COLUMN CREATION**

In [39]:
df1 = pd.get_dummies(df[['Location','Fuel_Type','Transmission','Owner_Type']]).astype(int)
df1

,Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,...,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Owner_Type_First,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
6015,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
6016,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0
6017,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
6018,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0

In [40]:
df1 = pd.get_dummies(df[['Location','Fuel_Type','Transmission','Owner_Type']],drop_first=True).astype(int)
df1

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
4,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0
6015,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0
6016,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0
6017,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
6018,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0

In [41]:
# CONCATINATION
df2 = pd.concat([df,df1],axis = 1)
df2

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,...,1,0,0,0,0,0,1,0,0,0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,...,0,1,1,0,0,0,1,0,0,0
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,...,0,0,0,0,0,1,1,0,0,0
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,...,0,0,1,0,0,0,1,0,0,0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,...,0,0,1,0,0,0,1,0,0,0
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,...,0,0,1,0,0,0,1,0,0,0
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,...,0,0,1,0,0,0,1,0,1,0
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,...,0,0,0,0,0,1,1,0,0,0
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,...,0,0,1,0,0,0,1,0,0,0

In [42]:
df2.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price', 'Location_Bangalore', 'Location_Chennai',
       'Location_Coimbatore', 'Location_Delhi', 'Location_Hyderabad',
       'Location_Jaipur', 'Location_Kochi', 'Location_Kolkata',
       'Location_Mumbai', 'Location_Pune', 'Fuel_Type_Diesel',
       'Fuel_Type_Electric', 'Fuel_Type_LPG', 'Fuel_Type_Petrol',
       'Transmission_Manual', 'Owner_Type_Fourth & Above', 'Owner_Type_Second',
       'Owner_Type_Third'],
      dtype='object')

In [43]:
df = df2.drop(['Name','Unnamed: 0','Location','Fuel_Type','Transmission','Owner_Type'],axis = 1)
df

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,2010,72000,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,0,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,0,1,0,...,0,0,1,0,0,0,1,0,0,0
4,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,0,0,0,...,0,0,1,0,0,0,1,0,0,0
6015,2015,100000,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,0,0,0,...,0,0,1,0,0,0,1,0,0,0
6016,2012,55000,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,0,0,0,...,0,0,1,0,0,0,1,0,1,0
6017,2013,46000,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,0,0,0,...,0,0,0,0,0,1,1,0,0,0
6018,2011,47000,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [44]:
df.head()

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,2010,72000,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,0,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,0,1,0,...,0,0,1,0,0,0,1,0,0,0
4,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [45]:
import numpy as np

In [46]:
df['Mileage'] = df['Mileage'].str.replace('km/kg','')
df['Mileage'] = df['Mileage'].str.replace('kmpl','')
df['Engine'] = df['Engine'].str.replace('CC','')
df['Power'] = df['Power'].str.replace('bhp','')
df['Power'] = df['Power'].str.replace('null','0')

In [47]:
df.head()

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,2010,72000,26.6,998,58.16,5.0,1.75,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,2015,41000,19.67,1582,126.2,5.0,12.50,0,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2011,46000,18.2,1199,88.7,5.0,4.50,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,2012,87000,20.77,1248,88.76,7.0,6.00,0,1,0,...,0,0,1,0,0,0,1,0,0,0
4,2013,40670,15.2,1968,140.8,5.0,17.74,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [48]:
df.dtypes

Year                           int64
Kilometers_Driven              int64
Mileage                       object
Engine                        object
Power                         object
Seats                        float64
Price                        float64
Location_Bangalore             int64
Location_Chennai               int64
Location_Coimbatore            int64
Location_Delhi                 int64
Location_Hyderabad             int64
Location_Jaipur                int64
Location_Kochi                 int64
Location_Kolkata               int64
Location_Mumbai                int64
Location_Pune                  int64
Fuel_Type_Diesel               int64
Fuel_Type_Electric             int64
Fuel_Type_LPG                  int64
Fuel_Type_Petrol               int64
Transmission_Manual            int64
Owner_Type_Fourth & Above      int64
Owner_Type_Second              int64
Owner_Type_Third               int64
dtype: object

In [49]:
df['Mileage'] = df['Mileage'].astype(float)
df['Engine'] = df['Engine'].astype(float)
df['Power'] = df['Power'].astype(float)

In [50]:
df.dtypes

Year                           int64
Kilometers_Driven              int64
Mileage                      float64
Engine                       float64
Power                        float64
Seats                        float64
Price                        float64
Location_Bangalore             int64
Location_Chennai               int64
Location_Coimbatore            int64
Location_Delhi                 int64
Location_Hyderabad             int64
Location_Jaipur                int64
Location_Kochi                 int64
Location_Kolkata               int64
Location_Mumbai                int64
Location_Pune                  int64
Fuel_Type_Diesel               int64
Fuel_Type_Electric             int64
Fuel_Type_LPG                  int64
Fuel_Type_Petrol               int64
Transmission_Manual            int64
Owner_Type_Fourth & Above      int64
Owner_Type_Second              int64
Owner_Type_Third               int64
dtype: object

In [51]:
df.isnull().sum()

Year                          0
Kilometers_Driven             0
Mileage                       2
Engine                       36
Power                        36
Seats                        42
Price                         0
Location_Bangalore            0
Location_Chennai              0
Location_Coimbatore           0
Location_Delhi                0
Location_Hyderabad            0
Location_Jaipur               0
Location_Kochi                0
Location_Kolkata              0
Location_Mumbai               0
Location_Pune                 0
Fuel_Type_Diesel              0
Fuel_Type_Electric            0
Fuel_Type_LPG                 0
Fuel_Type_Petrol              0
Transmission_Manual           0
Owner_Type_Fourth & Above     0
Owner_Type_Second             0
Owner_Type_Third              0
dtype: int64

In [52]:
#nan

import numpy as np

In [53]:
df.loc[df.Power==0,'Power'] = np.NaN

In [54]:
df['Engine'] = df['Engine'].fillna(df['Engine'].mean())
df['Power'] = df['Power'].fillna(df['Power'].mean())
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].mean())

In [55]:
df['Seats'].mode()

0    5.0
Name: Seats, dtype: float64

In [64]:
df['Seats'] = df['Seats'].fillna(5.0)

In [65]:
df.isnull().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
Price                        0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
Fuel_Type_Diesel             0
Fuel_Type_Electric           0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Manual          0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
dtype: int64

In [66]:
x = df.drop(['Price'],axis = 1)
y = df['Price']

In [67]:
x.head()

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,2010,72000,26.60,998.0,58.16,5.0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,2015,41000,19.67,1582.0,126.20,5.0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0
2,2011,46000,18.20,1199.0,88.70,5.0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
3,2012,87000,20.77,1248.0,88.76,7.0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
4,2013,40670,15.20,1968.0,140.80,5.0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [68]:
x.shape

(6019, 24)

In [69]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [70]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [71]:
y_pred = regressor.predict(x_test)

In [72]:
y_pred

array([11.28335481,  7.42792729,  5.59984221, ..., 10.28930357,
        8.38807062,  2.25986181])

In [73]:
from sklearn.metrics import r2_score
print("r2_score",r2_score(y_test,y_pred))

r2_score 0.7132335981456379

In [74]:
print("slope",regressor.coef_)
print("y intercept",regressor.intercept_)

slope [ 1.04795009e+00  9.88076640e-07 -1.46625065e-01  1.76271686e-03
  1.21949709e-01 -1.35160906e+00  1.98232656e+00  1.00347726e+00
  1.83024653e+00 -4.14780596e-01  1.83907727e+00  6.89415255e-01
 -3.65551786e-01 -1.06861564e+00 -8.86087029e-01  2.67439607e-02
 -1.30117382e+00  7.27183129e+00  1.84793391e-01 -3.23819153e+00
 -2.45675601e+00  1.10595945e+00 -5.25058778e-01  1.03498928e+00]
y intercept -2103.7614617833574